.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  height: 40.625rem;
  aspect-ratio: 1.8/1;
  border: 0.6rem solid var(--black);
  position: relative;
}

.table .tableDesign,
.table .dragonLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table .tableDesign {
  width: 25rem;
  height: 25rem;
}

.table .dragonLogo {
  width: 12rem;
  height: 12rem;
  opacity: 0.5;
}

.tiles {
  display: flex;
}