.wind {
  width: 4rem;
  opacity: 0.5;
  position: absolute;
}

.east {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.south {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.west {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.north {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.hidden {
  display: none;
}